<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheets" href="static_pages.scss">
    <title>
      Web Development Resume
    </title>
    <nav>
      <a href="">Personal Statement</a> |
      <a href="">Employment History</a> |
      <a href="">Areas of Expertise</a> |
      <a href="">Web Development Skills</a>
      <a href="">Education History</a>
    </nav>
    
    <h1>Gregory David Testo</h1>
    <h2>
      Phone: 212-203-8276
      <br>
      Email: gtesto@testophotography.com
      <br>
      <a href="www.linkedin.com/in/gregorytesto">LinkedIn</a>
    </h2>
  </head>
  <body>
    <section>
      <h1>Summary</h1>
      <ul>
        <li>Over 10 years of design, marketing and media creation experience.</li>
        <li>Economics degree from a highly rated private business school</li>
        <li>First rate communication/presentation/writing skills and phone manner</li>
      </ul>
    </section>
    <section>
      <h1>Employment History</h1>
      <p>
        
      </p>
    </section>
    
  </body>
  <footer>
    
  </footer>
</html>