<head>
  <br><br><br>
  <h1>Gregory David Testo</h1>
    <div id=contact>
      <a href="mailto:gtesto@testophotography.com">
        <%= image_tag "mail.png", size: "40x40", alt: "Edit Entry" %>
      </a>
      <br>
      Phone: 212-203-8276
      <br>
      <a href="www.linkedin.com/in/gregorytesto">
        <%= image_tag "linkedin.png", size: "80x20", alt: "Edit Entry" %>
    </div>
    </a> 
  </h3>
</head>
<body>
  
  <section>
    <h2>Personal Statement</h2>
    <span class="anchor" id="personal"></span>
    <div class="section"></div>
    <p>Passionate junior web developer experienced in full stack Rails and over a decade experience as a multimedia creator and designer. Solid web debugging and version control experience.</p>
  </section>
  
  <section>
    <h2>Job History</h2>
    <span class="anchor" id="jobs"></span>
    <div class="section"></div>
    <p>
       <ul id="client_jobs">
        <li>Apple, Manhattan, New York</li>
        <li>Testo Photography, Manhattan, New York</li>
      </ul>
      <!--<ul id="dates">-->
      <!--  <li>2015 to Present</li>-->
      <!--  <li>2013 to Present</li>-->
      <!--</ul>-->
      <br>
      <h2 id="client">Clients</h2>
      <ul id="client_jobs">
        <li>SoNo Entertainment Studios, South Norwalk, Connecticut</li>
        <li>XK9 Comunicação Sao Paulo, Brazil</li>
        <li>ABI Marketing Public Relations, Manhattan, New York</li>
        <li>Bobette’s Takout Bistro, Milford, Connecticut</li>
        <li>Strategic Marketing of Rollins College, Winter Park, Florida</li>
      </ul>
      <!--<ul id="dates">-->
      <!--  <li>2014 to 2015</li>-->
      <!--  <li>2013 to 2014</li>-->
      <!--  <li>2013 to 2014</li>-->
      <!--  <li>2011 to 2013</li>-->
      <!--  <li>2009 to 2011</li>-->
      <!--</ul>-->
    </p>
  </section>
  
  <section>
    <h2>Web Development Skills</h2>
    <span class="anchor" id="skills"></span>
    <div class="section"></div>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Javascript</li>
      <li>Ruby</li>
      <li>Rails</li>
      <li>Git</li>
      <li>Bootstrap</li>
      <li>JQuery</li>
      <li>MySQL</li>
      <li>WordPress</li>
    </ul>
  </section>
  
  <section>
    <h2>Education</h2>
    <span class="anchor" id="education"></span>
    <div class="section"></div>
    
    <dl>
      <dt>New York University</dt>
      <dd>- Javascript and JQuery</dd>
      <dt>Rollins College, Winter Park, Florida</dt>
      <dd>- Bachelor of Arts: Economics</dd>
    </dl>
  </section>
</body>