<head>
  <h1>Gregory David Testo</h1>
  <h2>
    Phone: 212-203-8276
    <br>
    Email: gtesto@testophotography.com
    <br>
    <a href="www.linkedin.com/in/gregorytesto">LinkedIn</a>
  </h2>
</head>
<body>
  
  <section>
    <h1>Personal Statement</h1>
      <p>Junior web developer experienced in full stack Rails and over a decade experience as a multimedia creator.</p>
  </section>
  
  <section>
    <h1>Employment History</h1>
    <p>
      <ul>
        <li>Apple, Manhattan, New York</li>
        <li>Testo Photography, Manhattan, New York</li>
        <li>SoNo Entertainment Studios, South Norwalk, Connecticut</li>
        <li>XK9 Comunicação Sao Paulo, Brazil</li>
        <li>ABI Marketing Public Relations, Manhattan, New York</li>
        <li>Bobette’s Takout Bistro, Milford, Connecticut</li>
        <li>Strategic Marketing of Rollins College, Winter Park, FL</li>
      </ul>
      <ul>
        <li>2015 to Present</li>
        <li>2013 to Present</li>
        <li>2014 to 2015</li>
        <li>2013 to 2014</li>
        <li>2013 to 2014</li>
        <li>2011 to 2013</li>
        <li>2009 to 2011</li>
      </ul>
    </p>
  </section>
  
  <section>
    <h1>Web Development Skills</h1>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Ruby</li>
      <li>Rails</li>
      <li>Git</li>
      <li>Bootstrap</li>
      <li>JQuery</li>
      <li>MySQL</li>
      <li>WordPress</li>
    </ul>
  </section>
  
  <section>
    <h1>Areas of Expertise</h1>
    <ul>
      <li>After Effects</li>
      <li>Premiere Pro</li>
      <li>Final Cut Pro</li>
      <li>Photoshop</li>
      <li>Illustrator</li>
      <li>Lightroom</li>
    </ul>
  </section>
  
  <section>
    <h1>Academic Qualifications</h1>
    <ul>
      <li>New York University</li>
      <li>Javascript and JQuery</li>
      <li>Rollins College, Winter Park, Florida</li>
      <li>Bachelor of Arts: Economics/Minor: Business</li>
    </ul>
  </section>
</body>