/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.nav{
    margin:0;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    text-align:center;
  	left: 0;
  	right: 0;
    background-color: rgba(50, 50, 50, 0.7);
  	/* zindex prevents elements from skill circle from overlaping navbar*/
  	z-index: 100;
  	
  	li{
      display:inline;
      padding: 0px;
  	}
  	
  	a{
      color: white;
      display: inline-block;
      padding:10px 40px;
      text-decoration: none;
      text-align: center;
    }
    
    a:hover {
      background-color: #111;
      transition:all 1s ease;
    }
    
}

/*Anchor correction for using a fixed centered navigation bar*/
.anchor{ 
  display: block;
  height: 120px; /*same height as header*/
  margin-top: -120px; /*same height as header*/
  visibility: hidden;
}

#page_title{
  font-size: 300%;
  text-align: center;
  padding-bottom: 20px;
}

#page_subtitle{
  font-size: 175%;
  font-style: normal;
  text-align: center;
  padding-top: 25px;
}

.me{
  float: left;
  margin-right: 15px;
}

.contact{
  float: left;
  margin-right: 50px;
}

head{
  text-align:center;
  margin:auto;
  padding:10px;
  position: absolute;
  display: inline-block;
}

body {
  background-color: rgba(200, 200, 200, 0.5);
  background-size: cover;
  width: 600px;
  margin: 0 auto; 
  display: block;
  padding-top: 50px;
}

.personal{
  font-size: 120%;
  text-align: justify;
  width: 75%;
  margin-left: 100px;
  display: block;
}

.skills{

}

.education{
  width: 100%;  
  text-align: center;
}

.client_icons{
  font-size: 80px;
  text-align: center;
  width: 100%;
}

.circle-container {
    background-image: url("cir.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    position: relative;
    height: 25em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    margin: 1.75em auto 0;
}

.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    text-align: center;
    margin: -2em;
    width: 10%;
}

.circle-container img { display: block; }
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }

footer {
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(50, 50, 50, 0.7);
  text-align: center;
}
footer a {
  display: inline-block;
  padding: 0 40px;
  text-decoration: none;
  text-align: center;
}
footer a:hover {
  background-color: #111;
  transition: all 1s ease;
}

.education{
  float: left;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}
hr {
  color: rgba(50, 50, 50, 0.1);
  background-color: rgba(50, 50, 50, 0.3);
  height: 1px;
  width: 75%;
}