/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.nav{
    margin:0;
    padding:0;
    position: fixed;
    top: 0;
    width: 100%;
    text-align:center;
  	left: 0;
  	right: 0;
  	background-color: #333;
}
.nav li{
    display:inline;
    padding: 5px 5px;
}
.nav a{
    color: white;
    display: inline-block;
    padding:20px;
    text-decoration: none;
    text-align: center;
}
.nav a:hover {
    background-color: #111;
}
/*Anchor correction for using a fixed centered navigation bar*/
.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}
h1{
  font-size: 200%;
  text-align: center;
}

h2{
  font-size: 125%;
  font-style: normal;
  text-align: center;
}



body {
  background-color: rgba(200, 200, 200, 0.5);
  background-size: cover;
  width: 600px;
  margin: 0 auto; 
}

#contact{
  font-size: 100%;
  text-align: center;
}

#client_jobs{
   text-align: left;
   display: inline-block;
 }

footer{
  padding:0;
}